# -*- mode: yaml -*-
---
kind: Service
apiVersion: v1
metadata:
  name: {{ volname | tojson }}
  namespace: {{ namespace | tojson }}
  labels:
    app.kubernetes.io/part-of: kadalu
    app.kubernetes.io/component: server
    app.kubernetes.io/name: server-service
spec:
  clusterIP: None
  selector:
    app.kubernetes.io/part-of: kadalu
    app.kubernetes.io/component: server
    app.kubernetes.io/name: server
  ports:
    - name: brickport
      protocol: TCP
      port: 24007
      targetPort: 24007
