# -*- mode: yaml -*-
---
kind: StatefulSet
apiVersion: apps/v1
metadata:
  name: {{ serverpod_name | tojson }}
  namespace: {{ namespace | tojson }}
  labels:
    app.kubernetes.io/part-of: kadalu
    app.kubernetes.io/component: server
    app.kubernetes.io/name: server
spec:
  serviceName: {{ volname | tojson }}
  selector:
    matchLabels:
      app.kubernetes.io/part-of: kadalu
      app.kubernetes.io/component: server
      app.kubernetes.io/name: server
  template:
    metadata:
      labels:
        app.kubernetes.io/part-of: kadalu
        app.kubernetes.io/component: server
        app.kubernetes.io/name: server
    spec:
{%- if tolerations %}
      tolerations:
  {%- for toleration in tolerations %}
    {%- set has_key = "key" in toleration and toleration["key"] is not none %}
    {%- set has_operator = "operator" in toleration and toleration["operator"] is not none %}
    {%- set has_value = "value" in toleration and toleration["value"] is not none %}
    {%- set has_effect = "effect" in toleration and toleration["effect"] is not none %}
    {%- set has_seconds = "tolerationSeconds" in toleration and toleration["tolerationSeconds"] is not none %}
    {%- if has_key or has_operator or has_value or has_effect or has_seconds %}
        -
      {%- if has_key %}
          key: {{ toleration["key"] | tojson }}
      {%- endif %}
      {%- if has_operator %}
          operator: {{ toleration["operator"] | tojson }}
      {%- endif %}
      {%- if has_value %}
          value: {{ toleration["value"] | tojson }}
      {%- endif %}
      {%- if has_effect %}
          effect: {{ toleration["effect"] | tojson }}
      {%- endif %}
      {%- if has_seconds %}
          tolerationSeconds: {{ toleration["tolerationSeconds"] | tojson }}
      {%- endif %}
    {%- else %}
        - {}
    {%- endif %}
  {%- endfor %}
{%- endif %}
      serviceAccountName: kadalu-server-sa
{%- if kube_hostname != "" %}
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                - key: kubernetes.io/hostname
                  operator: In
                  values:
                    - {{ kube_hostname | tojson }}
{%- endif %}

      containers:
        - name: server
          image: {{ server_image | tojson }}
          readinessProbe:
            tcpSocket:
              port: 24007
            initialDelaySeconds: 7
            periodSeconds: 10
          livenessProbe:
            tcpSocket:
              port: 24007
            initialDelaySeconds: 120
            periodSeconds: 20
          env:
{%- if kube_hostname != "" %}
            - name: HOSTNAME
              value: {{ kube_hostname | tojson }}
{%- endif %}
{%- if shd_required %}
            - name: SHD_REQUIRED
              value: "1"
{%- endif %}
            - name: VOLUME
              value: {{ volname | tojson }}
            - name: VOLUME_TYPE
              value: {{ voltype | tojson }}
            - name: BRICK_PATH
              value: {{ brick_path | tojson }}
            - name: NODEID
              value: {{ brick_node_id | tojson }}
            - name: VOLUME_ID
              value: {{ volume_id | tojson }}
            - name: BRICK_INDEX
              value: "{{ brick_index }}"
            - name: BRICK_DEVICE
              value: {{ brick_device | tojson }}
            - name: KADALU_VERSION
              value: {{ kadalu_version | tojson }}
            - name: K8S_DIST
              value: {{ k8s_dist | tojson }}
            - name: VERBOSE
              value: {{ verbose | tojson }}
            - name: SUBVOL_ROOT
              value: "subvol"
          securityContext:
            capabilities: {}
            privileged: true
          volumeMounts:
            - name: gluster-dev
              mountPath: "/dev"
            - name: gluster-cgroup
              mountPath: "/sys/fs/cgroup"
              readOnly: true
{%- if pvc_name == "" %}
            - name: gluster-kmods
              mountPath: "/lib/modules"
              readOnly: true
{%- endif %}
            - name: glusterfsd-volfilesdir
              mountPath: "/var/lib/gluster"
            - name: glusterfsd-mountdir
              mountPath: {{ ("/bricks/" ~ volname) | tojson }}
{%- if brick_device_dir != "" %}
            - name: brick-device-dir
              mountPath: "/brickdev"
{%- endif %}
      volumes:
        - name: gluster-dev
          hostPath:
            path: "/dev"
        - name: gluster-cgroup
          hostPath:
            path: "/sys/fs/cgroup"
{%- if pvc_name == "" %}
        - name: gluster-kmods
          hostPath:
            path: "/lib/modules"
{%- endif %}
        - name: glusterfsd-volfilesdir
          configMap:
            name: "kadalu-info"
        - name: glusterfsd-mountdir
{%- if pvc_name != "" %}
          persistentVolumeClaim:
            claimName: {{ pvc_name | tojson }}
{%- elif host_brick_path != "" %}
          hostPath:
            path: {{ host_brick_path | tojson }}
            type: Directory
{%- elif brick_device != "" %}
          emptyDir: {}
{%- endif %}
{%- if brick_device_dir != "" %}
        - name: brick-device-dir
          hostPath:
            path: {{ brick_device_dir | tojson }}
            type: Directory
{%- endif %}
